name: Bot Auto-Restart y Deploy
on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    # IMPORTANTE: El nombre a la izquierda es como lo lee Node.js (process.env.BOT_TOKEN)
    # El nombre a la derecha debe ser el que pusiste en GitHub Secrets
    env:
      BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
      CLIENT_ID: ${{ secrets.CLIENT_ID }}
      FIREBASE_SERVICE_ACCOUNT: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Register Slash Commands
        run: node deploy-commands.js

      - name: Start Bot
        run: node index.js
